.container {
	width: 100%;
}
.contain {
	width: 100%;
	display: inline-block;
}

.wrapper {
	width: 300px;
	margin: 20px auto;
}

.navigation {
	width: 300px;
	margin: 20px auto;
	display: block;
}
.cont {

	width: 300px;
	margin: 20px auto;
}

.content {
	display: none;
}

.current {
	display: block;
}

a:hover {
	text-decoration: none;
}

ul {
	display: none;
}

.green {
	list-style-image: url("cross-green.png");
}

.red {
	list-style-image: url("cross-on.png");
}
